<ion-header class="header">

    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon class="icon" name="list"></ion-icon>
      </ion-menu-button>
  
      <img class="menu" src="../../assets/img/logo.png">
  
      <ion-button slot="end" (click)="cart()">
        <ion-icon name="cart" class="icon2" (click)="cart()"></ion-icon>
      </ion-button>
      <ion-button slot="end" (click)="search()">
        <ion-icon name="search" class="icon2" (click)="search()"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-header>
  <ion-content class="testeFont">
  
    <ion-row>
      <ion-col align-self-center text-center>
        <ion-card *ngFor="let perfil of listaDePerfis">
          <ion-card-header>
            <div>
              <img width="80%" src="{{perfil?.img}}">
            </div>
            <ion-card-title> {{perfil?.nome}} </ion-card-title>
            <ion-card-subtitle>{{perfil?.email}} </ion-card-subtitle>
            <ion-card-subtitle> {{perfil?.cpf}} </ion-card-subtitle>
          </ion-card-header>
  
          <ion-button color="danger"  (click)="remove(perfil)">
            <ion-icon name="trash"></ion-icon>Excluir
          </ion-button>
          <ion-button color="warning" (click)="perfilEdit(perfil)">
            <ion-icon name="cloud-upload"></ion-icon>atualizar
          </ion-button>
          <ion-button color="dark"  (click)="perfil(perfil)">
              <ion-icon name="cloud-upload"></ion-icon>Visualizar Perfil
            </ion-button>
          <br>
        </ion-card>
      </ion-col>
    </ion-row>
  
  
    <ion-fab class="contat" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
      <ion-fab-list class="teste" side="start">
  
        <ion-fab-button class="btn" (click)="logout()">
          <ion-icon class="img" name="log-out"></ion-icon>
        </ion-fab-button>
  
        <ion-fab-button class="btn" (click)="search()">
          <ion-icon class="img" name="search"></ion-icon>
        </ion-fab-button>
  
        <ion-fab-button class="btn" (click)="contact()">
          <ion-icon class="img" name="contact"></ion-icon>
        </ion-fab-button>
  
        <ion-fab-button class="btn" (click)="cart()">
          <ion-icon class="img" name="cart"></ion-icon>
        </ion-fab-button>
  
      </ion-fab-list>
    </ion-fab>
  
  </ion-content>