<ion-header class="header">
  <ion-buttons slot="start">
    <img class="menu" src="../../assets/img/logo2.png">
  </ion-buttons>
</ion-header>

<ion-content>
<form [formGroup]="formGroup">
  <ion-list>
    <ion-item>
      <ion-label floating>NOME</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>TELEFONE</ion-label>
      <ion-input formControlName="telefone" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>EMAIL</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>CPF</ion-label>
      <ion-input formControlName="cpf" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>CEP</ion-label>
      <ion-input formControlName="cep" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>ENDEREÇO</ion-label>
      <ion-input formControlName="endereco" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>COMPLEMENTO</ion-label>
      <ion-input formControlName="complemento" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>BAIRRO</ion-label>
      <ion-input formControlName="bairro" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>NÚMERO</ion-label>
      <ion-input formControlName="numero" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-icon name="images"></ion-icon>
      <input type="file" (change)="enviaArquivo($event)" />
    </ion-item>

  </ion-list>
  <div style="text-align: center">
    <ion-button (click)="atualizar()" shape="round" color="secondary">ATUALIZAR</ion-button>
  </div>
</form>
</ion-content>