.menu{
    max-width: 1000px;
    height: 35px;
    margin: 10px auto;
}
.text{
    text-align: center;
    font-family: arial;
}
.logoimg{
    margin: auto;
}
.icon{
    height: 25px;
    width: 25px;
    padding: 0;
    margin: auto;
    color: black;
} 
.icon2{
    height: 25px;
    width: 25px;
}
.testeFont{
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
