<ion-header class="header">
  <ion-buttons slot="start">
    <img class="menu" src="../../assets/img/logo2.png">
  </ion-buttons>
</ion-header>

<ion-content>

  <form [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input formControlName="nome" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Descrição</ion-label>
        <ion-input formControlName="desc" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Slogan</ion-label>
        <ion-input formControlName="slogan" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="images"></ion-icon>
        <input type="file" (change)="enviaArquivo($event)" />
      </ion-item>
    </ion-list>
    <div style="text-align: center">
      <ion-button (click)="atualizar()" shape="round" color="primary">ATUALIZAR</ion-button>
    </div>
  </form>

</ion-content>