.cart{
    width: 30px;
    height: 30px;
}
.img{
    width: 50%;
    height: 50%;
    color: #000;
}
.btn{
    width: 50px;
    height: 50px;
}

.contat{
    color: #000;
}
.contat .teste1{
    color: white;
}

.menu{
    max-width: 50px;
    height: 50px;
    margin: auto;
  }
.text{
      text-align: center;
      font-family: arial;
}
.logoimg{
       margin: auto;
}
.menu{
    max-width: 50px;
    height: 50px;
    margin: auto;
   }
   
   .icon2{
    height: 25px;
    width: 25px;
}