<ion-header class="header">

	<ion-buttons slot="start">
	  <ion-menu-button>
		<ion-icon class="icon2" name="list"></ion-icon>
	  </ion-menu-button>
  
	  <img class="menu" src="../../assets/img/logo.png">
  
	  <ion-button slot="end" (click)="cart()">
		<ion-icon name="cart" class="icon2"></ion-icon>
	  </ion-button>
	  <ion-button slot="end" (click)="search()">
		<ion-icon name="search" class="icon2"></ion-icon>
	  </ion-button>
	</ion-buttons>
  
  </ion-header>
  
  <ion-content>
  
  
	<ion-card *ngFor="let pedido of pedido.itens">
	  <ion-grid>
		<ion-row>
		  <ion-col align-self-center text-center>
			<img src="{{pedido?.roupas.img}}" class="roupas">
		  </ion-col>
		  <ion-col>
			<h6 class="h6">{{pedido?.roupas.roupa}}</h6>
			<h6 class="h6">R$ {{pedido?.roupas.preco}}</h6>
			
			<ion-button (click)="removeCar(pedido?.roupas)" class="t">
			  <ion-icon color="tertiary" name="trash"></ion-icon>
			</ion-button>
		  </ion-col>
		</ion-row>
	  </ion-grid>
	</ion-card>
  
	<ion-card style="text-align: center">
	  <ion-card-header>
		<ion-card-title>Total:</ion-card-title>
	  </ion-card-header>
  
	  <ion-card-content>
		<h5> R$: {{total}},00</h5>
	  </ion-card-content>
	</ion-card>
  
  
  
	<ion-col offset="3" size="3" align-self-center text-center>
	  <ion-button (click)="finalizarCompra(marcas)">
		Finalizar Compra
	  </ion-button>
	</ion-col>
  
  </ion-content>
  
  