<ion-header class="header">

    <ion-buttons slot="start">
  
      <img class="menu" src="../../assets/img/logo2.png">
    </ion-buttons>
  
  </ion-header>

<ion-content  class="testeFont">
  <form [formGroup]="formGroup">

    <ion-list>
      <ion-item>
        <ion-label floating>Nome da peça</ion-label>
        <ion-input formControlName="roupa" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Preço</ion-label>
        <ion-input formControlName="preco" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Modelo</ion-label>
        <ion-input formControlName="modelo" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Marca</ion-label>
        <ion-input formControlName="marca" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Cor</ion-label>
        <ion-input formControlName="cor" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="images"></ion-icon>
        <input type="file" (change)="enviaArquivo($event)" />
      </ion-item>

    </ion-list>
    <div style="text-align: center">
      <ion-button (click)="atualizar()" shape="round" color="primary">CADASTRAR</ion-button>
    </div>
  </form>

</ion-content>