<ion-content class="fundo">
  <br>
  <br>
  <br>
  <br>

  <div class="img">
    <img src="../../assets/img/logo1.png">
  </div>

  <!--  <ion-title>Seja Bem Vindo!</ion-title> -->
  <br>
  <h1 class="text">
    SEJA BEM VINDO
  </h1>
  <br>
  <p></p>
  <div style="text-align: center;">
    <ion-button class="button" shape="round">
      <ion-icon color="primary" slot="end" name="logo-facebook"></ion-icon>
      Facebook
    </ion-button>

    <ion-button (click)="login()" shape="round" class="button2">
      <ion-icon color="primary" name="mail" slot="end"></ion-icon>
      E-mail
    </ion-button>

    <ion-button class="button3" shape="round">
      <ion-icon color="primary" name="call" slot="end"></ion-icon>
      Telefone
    </ion-button>
  </div>
</ion-content>